<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id.slice(-5) }}</span> {{ hero.name }}
    </a>
    <button
      class="delete"
      title="delete {{ hero.name }}"
      (click)="deleteHero(hero.id)"
    >
      x
    </button>
  </li>
</ul>
<div>
  <label><input type="text" #heroName placeholder="new hero name"/></label>
  <button (click)="addHero(heroName.value); heroName.value = ''">add</button>
</div>
